﻿@model Amazon.Models.DataModel.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/js/jQuery_v3.1.1.min.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Category</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CategoryID)

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryAvatar, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CategoryAvatar, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CategoryAvatar, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div>Add Property</div>
    <br />
    <div class="row">
        <select class="form-control col-md-4" id="numberofProperty">
            <option id="1">0</option>
            <option id="1">1</option>
            <option id="2">2</option>
            <option id="3">3</option>
            <option id="4">4</option>
            <option id="5">5</option>
            <option id="6">6</option>
        </select>
        <div class=" col-md-6">
            <br />
            <p>Example Input Property for product: Color, Height, Weight</p>
            <br />
        </div>
    </div>
    <div id="manyInputProperty">

    </div>
    <br />*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*<script>
    $(document).ready(function () {
        $('select').on('change', function () {
            $('#manyInputProperty').empty();
            var number = 0;
            number = document.getElementById('numberofProperty').value;
            for (var m = 1; m <= number; m++) {
                var node = document.createElement("INPUT");
                document.getElementById("manyInputProperty").appendChild(node);
            }
        });
    });
</script>*@