﻿@model IEnumerable<Amazon.AppService.ViewModel.ProductViewModel>
@{
    ViewBag.Title = "ListProduct";
}

<h2>List Product Of Shop</h2>
<p></p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            @if (item.Status == 1)
            {
                <td>Active</td>
            }
            else
            {
                <td>Not Active</td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.MinOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            </tr>
    }
 </table>