﻿@model Amazon.AppService.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details Product</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.ChildCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductAvatar)
        </dt>

        <dd>
            <img src="~/Content/LocalImage/@Model.ProductAvatar" style="max-height:100px" />
        </dd>

        <dt>
            Description
        </dt>
        <dd style="border:1px solid blue">
            @Html.Raw(Model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        @if (Model.Status == 1)
        {
            <dd>Active</dd>
        }
        else
        {
            <dd>InActive</dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.MinOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID },new { @class= "btn btn-danger" }) 
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-primary" })
</p>
