﻿@model Amazon.AppService.ViewModel.ProductViewModelList
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Edit Product</h2>
<script src="~/Content/js/jQuery_v3.1.1.min.js"></script>
<script src="//cdn.ckeditor.com/4.13.0/basic/ckeditor.js"></script>
@*@using (Html.BeginForm())*@
<form action="~/Admin/Products/Edit" method="post" enctype="multipart/form-data">
        
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.oneProduct.ProductID)

            <div>
                <label>
                    Category
                </label>
                <select id="categorylist" class="form-control col-md-10">
                    <option value="-1">Select Category</option>
                    @foreach (var item in ViewBag.Categoryviewbag)
                    {
                        <option value="@item.CategoryID">
                            @item.CategoryName
                        </option>
                    }
                </select>
                <p></p>
                <br />
                <label>
                    ChildCategory
                </label>
                <select id="Child_cate01" class="form-control col-md-10" name="_idChildCategory"></select>
                <p></p><br />
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.oneProduct.ProductName, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Product Name")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.oneProduct.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.oneProduct.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.oneProduct.ShopName, "Shop", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ShopID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.oneProduct.ShopName, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.oneProduct.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.oneProduct.Quantity, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                    @Html.ValidationMessageFor(model => model.oneProduct.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>


            @*<div class="form-group">
                    @Html.LabelFor(model => model.ProductAvatar, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductAvatar, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductAvatar, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            <div class="row">
                <div class="col-md-4">
                    <p></p>
                    <label>Product Avatar</label><br />
                    <img src="~/Content/LocalImage/@Model.oneProduct.ProductAvatar" style="max-height:100px" />
                    <br /><p></p><br />
                </div>
                <div class="col-md-8">
                    <br />
                    <br />
                    <label>Change Product Avatar</label>
                    <input type="file" name="fileImageProduct" accept="image/x-png,image/gif,image/jpeg" onchange="changeImage()" id="idFile" />
                    <br /><br />
                </div>
            </div>


            @*
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            @*<div class="form-group">
                    <textarea>
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </textarea>
                </div>*@
            <textarea id="NoiDung" name="contentDescription">@Html.Raw(Model.oneProduct.Description)</textarea><br />
            <script>
    CKEDITOR.replace('NoiDung');
                htmlEncodeOutput: true;</script>

            <div class="form-group">
                @Html.LabelFor(model => model.oneProduct.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.oneProduct.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.oneProduct.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.oneProduct.MinOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.oneProduct.MinOrder, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                    @Html.ValidationMessageFor(model => model.oneProduct.MinOrder, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.oneProduct.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.oneProduct.Price, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                    @Html.ValidationMessageFor(model => model.oneProduct.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.ChildCategoryID, "ChildCategoryID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ChildCategoryID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ChildCategoryID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @for (int m = 0; m < Model.listProperty.Count; m++)
            {
                <input value="@Model.listProperty[m].ProductPropertyName" class="form-control col-md-4" required />
                <input value="@Model.listProperty[m].ProductPropertyValue" class="form-control col-md-4" required />
                <br /><br />
            }
            @*<div id="manyPropertyInput">

                </div>

                <button type="button" onclick="ADDproperty()">AddProperty </button>
                <script>
                    var numberPropertyAdd = 0;
                    function ADDproperty() {
                        numberPropertyAdd++;
                        var x = document.createElement("INPUT");
                        x.setAttribute("name", "property" + numberPropertyAdd);
                        x.setAttribute("id", "file" + numberPropertyAdd);
                        var Endline = document.createElement("BR");
                        document.getElementById("manyPropertyInput").appendChild(Endline);
                        document.getElementById("manyPropertyInput").appendChild(x);
                    }
                </script>*@
            <div>
                <p></p>
                <br />
                <div>Add Property</div>
                <br />
                <div class="row">
                    <select class="form-control col-md-4" id="numberofProperty">
                        <option id="1">0</option>
                        <option id="1">1</option>
                        <option id="2">2</option>
                        <option id="3">3</option>
                        <option id="4">4</option>
                        <option id="5">5</option>
                        <option id="6">6</option>
                    </select>
                    <div class=" col-md-6">
                        <p>Example Input Property for product: Color :Red, Height: 100cm, Weight:180 gram</p>
                        <br />
                    </div>
                </div>
                <div id="manyInputProperty">

                </div>
                <br />
            </div>
            <input id="inputNUMBER" hidden name="numberofproperty" />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        </form>

        <div>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
        </div>

        <script>
            $(document).ready(function () {
                $('select').on('change', function () {
                    $('#manyInputProperty').empty();
                    var number = 0;
                    number = document.getElementById('numberofProperty').value;
                    $('#inputNUMBER').val(number);
                    for (var m = 1; m <= number * 2; m++) {
                        var node = document.createElement("INPUT");
                        document.getElementById("manyInputProperty").appendChild(node);
                        if (m % 2 == 0) {
                            var Endline = document.createElement("BR");
                            document.getElementById("manyInputProperty").appendChild(Endline);
                            node.placeholder = "Property value";
                        }
                        else {
                            node.placeholder = "Property name";
                        }
                        node.nodeName = "son";
                        node.name = "kiki" + m;

                        node.style.margin = "10px";
                        node.style.padding = "6px";
                        node.style.color = "blue";
                        node.style.class = "form-control"
                    }
                });
            });
        </script>


        <script>
            function changeImage() {
                var typ = document.getElementById("idFile").value;
                var res = typ.match(".jp", "jpg", "png");
                if (res) {

                }
                else {
                    alert("Sorry only images are accepted");
                    document.getElementById("idFile").value = "";
                }
            }
        </script>
        <script>
    $(document).ready(function () {
                $('#categorylist').on('change', function () {
                    var idCate = $('#categorylist option:selected').val();
                    $.ajax({
                        type: 'GET',
                        data: { IdCategory: idCate },
                        url: '@Url.Action("GetChildCategoryByIdCategory", "Products")',
                        success: function (result) {
                            var s = '<option value="-1">Select ChildCategory</option>';
                            for (var i = 0; i < result.length; i++) {
                                s += '<option value="' + result[i].IdCate + '">' + result[i].NameCate + '</option>';
                            }
                            $("#Child_cate01").html(s);
                        }
                    });
                });
            });
        </script>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
