﻿@model IEnumerable<Amazon.Models.DataModel.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create", null,new { @class = "btn btn-success", @role = "button" })
</p>
<p style="text-align:center"> List Product</p>
<br />
<table class="table ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChildCategory.ChildCategoryName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Shop.ShopName)
            </th>*@
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ProductAvatar)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Status)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.MinOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChildCategory.ChildCategoryName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Shop.ShopName)
                </td>*@
            <td style="white-space:pre-line" class="col-md-3">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ProductAvatar)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>*@

            @*@if (item.Status == 1)
            {
                <td>Active</td>
            }
            else
            {
                <td>Not Active</td>
            }*@

            <td>
                @Html.DisplayFor(modelItem => item.MinOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "btn btn-warning", @role = "button"  })
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }, new { @class = "btn btn-warning", @role = "button" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "btn btn-warning", @role = "button" })
            </td>
        </tr>
    }

</table>
