﻿@using Amazon.AppService.ViewModel;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Amazon VietNam</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/owl.carousel.css">
</head>
<body>
    <header id="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div style="float:right; margin:0 8px;">
                        <ul class="header-top-right text-right">
                            <li>
                                @if (User.IsInRole("Admin"))
                                {
                                    @Html.ActionLink("Admin Page", "Index", new { Area = "Admin", Controller = "HomeAdmin" })
                                }
                                @if (User.IsInRole("Shop"))
                                {
                                    @Html.ActionLink("Shop Page", "Index", new { Area = "ShopManager", Controller = "ShopManager" })
                                }
                            </li>
                        </ul>
                    </div>
                    <div style="float:right; margin:0 8px;">
                        <ul class="header-top-right text-right">
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="container">
                <nav class="navbar">
                    <div class="navbar-header mtb_20"> <a class="navbar-brand" href="Home/index"> <img alt="HealthCared" src="~/Content/images/Amazon.jpg"> </a> </div>
                    <div class="header-right pull-right mtb_50">
                        <button class="navbar-toggle pull-left" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="i-bar"><i class="fa fa-bars"></i></span></button>
                        <div class="shopping-icon">
                            <div class="cart-item " data-target="#cart-dropdown" data-toggle="collapse" aria-expanded="true" role="button">Item's : <span class="cart-qty">0</span></div>
                            <div id="cart-dropdown" class="cart-menu collapse">
                                @*<ul>
                                    <li>
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td class="text-center"><a href="#"><img src="images/product/70x84.jpg" alt="iPod Classic" title="iPod Classic"></a></td>
                                                    <td class="text-left product-name">
                                                        <a href="#">MacBook Pro</a>
                                                        <span class="text-left price">$20.00</span>
                                                        <input class="cart-qty" name="product_quantity" min="1" value="1" type="number">
                                                    </td>
                                                    <td class="text-center"><a class="close-cart"><i class="fa fa-times-circle"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><a href="#"><img src="images/product/70x84.jpg" alt="iPod Classic" title="iPod Classic"></a></td>
                                                    <td class="text-left product-name">
                                                        <a href="#">MacBook Pro</a>
                                                        <span class="text-left price">$20.00</span>
                                                        <input class="cart-qty" name="product_quantity" min="1" value="1" type="number">
                                                    </td>
                                                    <td class="text-center"><a class="close-cart"><i class="fa fa-times-circle"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                    <li>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="text-right"><strong>Sub-Total</strong></td>
                                                    <td class="text-right">$2,100.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                                                    <td class="text-right">$2.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right"><strong>VAT (20%)</strong></td>
                                                    <td class="text-right">$20.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right"><strong>Total</strong></td>
                                                    <td class="text-right">$2,122.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                    <li>
                                        <form action="cart_page.html">
                                            <input class="btn pull-left mt_10" value="View cart" type="submit">
                                        </form>
                                        <form action="checkout_page.html">
                                            <input class="btn pull-right mt_10" value="Checkout" type="submit">
                                        </form>
                                    </li>
                                </ul>*@
                            </div>
                        </div>
                        <div class="main-search pull-right">
                         @*<div class="search-overlay">
                            <!-- Close Icon -->
                            <a href="javascript:void(0)" class="search-overlay-close"></a>
                            <!-- End Close Icon -->
                            <div class="container">*@
                            <!-- Search Form -->
                            @*<form role="search" id="searchform" class="form-group-sm" action="/search" method="get">
                                <input class="form-control" value="" name="q" placeholder="Enter Keyword..." type="search">
                                <input type="submit" class="form-control" value="Search">
                            </form>*@
                            <!-- End Search Form -->
                            @*</div>
                            </div>
                        <div class="header-search"> <a id="search-overlay-btn"></a> </div>*@
                        </div>
                    </div>
                    <div class="collapse navbar-collapse js-navbar-collapse pull-right">
                        <ul id="menu" class="nav navbar-nav">
                            <li> @Html.ActionLink("Home","Index","Home")</li>
                            <li class="dropdown mega-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Collection </a>                               
                                <ul class="dropdown-menu mega-dropdown-menu row">
                                        @foreach (var item in MenuViewModel.GetCategoryViews())
                                        {
                                            <li class="col-md-3">
                                                <ul>
                                                    <li class="dropdown-header">@item.CategoryName</li>
                                                    @foreach (var item1 in MenuViewModel.GetChildCategoryViews())
                                                    {
                                                        if (item1.CategoryID == item.CategoryID)
                                                        {
                                                            <li>@Html.ActionLink(@item1.ChildCategoryName,"Home")</li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }  
                                </ul>
                            </li>
                            <li style="margin:auto 8px; padding-top:37px;">
                                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
                                {
                                    @*@Html.DropDownList("ChildCategoryID")*@
                                    @Html.TextBox("SearchString")
                                    <div class="form-group"><button type="submit" class="form-control">Search</button></div>
                                }
                            </li>
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </nav>
            </div>
        </div>



        @*<div class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-3">
                            <div class="category">
                                <div class="menu-bar" data-target="#category-menu,#category-menu-responsive" data-toggle="collapse" aria-expanded="true" role="button">
                                    <h4 class="category_text">Top category</h4>
                                    <span class="i-bar"><i class="fa fa-bars"></i></span>
                                </div>
                            </div>
                            <div id="category-menu-responsive" class="navbar collapse " aria-expanded="true" style="" role="button">
                                <div class="nav-responsive">
                                    <ul class="nav  main-navigation collapse in">
                                        <li><a href="#">Pharmacy</a></li>
                                        <li><a href="#">Health</a></li>
                                        <li><a href="#">Beauty</a></li>
                                        <li><a href="#">Vitamins</a></li>
                                        <li><a href="#">Sweating</a></li>
                                        <li><a href="#">Coughs & Colds</a></li>
                                        <li><a href="#">Hair Loss</a></li>
                                        <li><a href="#">Weight Loss</a></li>
                                        <li><a href="#">Antifungals</a></li>
                                        <li><a href="#">Pain Relief</a></li>
                                        <li><a href="#">Stop Smoking</a></li>
                                        <li><a href="#">Skin Conditions</a></li>
                                        <li><a href="#">Top Brands</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-9">
                            <div class="header-bottom-right offers">
                                <div class="marquee">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i>It's Sexual Health Week!</span>
                                    <span><i class="fa fa-circle" aria-hidden="true"></i>Our 5 Tips for a Healthy Summer</span>
                                    <span><i class="fa fa-circle" aria-hidden="true"></i>Sugar health at risk?</span>
                                    <span><i class="fa fa-circle" aria-hidden="true"></i>The Olay Ranges - What do they do?</span>
                                    <span><i class="fa fa-circle" aria-hidden="true"></i>Body fat - what is it and why do we need it?</span>
                                    <span><i class="fa fa-circle" aria-hidden="true"></i>Can a pillow help you to lose weight?</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </header>






    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Admin Page", "Index", new { Area = "Admin", Controller = "HomeAdmin" })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <div class="container body-content" style="width:100%">
        @RenderBody()
        <hr />
        <div class="footer pt_60">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-block">
                        <div class="content_footercms_right">
                            <div class="footer-contact">
                                <div class="footer-logo mb_40"> <a href="~/Home/Index"> <img src="~/Content/images/ebaypng1.png" alt="V ebay"> </a> </div>
                                <ul>
                                    <li>B1 Xuan Thuy-Cau Giay-Ha Noi </li>
                                    <li>(+123) 456 789 - (+024) 666 888</li>
                                    <li>V-ebay@vietnam.com</li>
                                </ul>
                                <div class="social_icon">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 footer-block">
                        <h6 class="footer-title ptb_20">Categories</h6>
                        <ul>
                            <li><a href="#">Medicines</a></li>
                            <li><a href="#">Healthcare</a></li>
                            <li><a href="#">Mother & Baby</a></li>
                            <li><a href="#">Vitamins</a></li>
                            <li><a href="#">Toiletries</a></li>
                            <li><a href="#">Skincare</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer-block">
                        <h6 class="footer-title ptb_20">Information</h6>
                        <ul>
                            <li><a href="contact.html">Specials</a></li>
                            <li><a href="#">New Products</a></li>
                            <li><a href="#">Best Sellers</a></li>
                            <li><a href="#">Our Stores</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer-block">
                        <h6 class="footer-title ptb_20">My Account</h6>
                        <ul>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">My Orders</a></li>
                            <li><a href="#">My Credit Slips</a></li>
                            <li><a href="#">My Addresses</a></li>
                            <li><a href="#">My Personal Info</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h6 class="ptb_20">SIGN UP OUR NEWSLETTER</h6>
                        <p class="mt_10 mb_20">For get offers from our favorite brands & get 20% off for next </p>
                        <div class="form-group">
                            <input class="mb_20" type="text" placeholder="Enter Your Email Address">
                            <button class="btn">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom mt_60 ptb_10">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="copyright-part"> 2019 DE GLOBAL</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="payment-icon text-right">
                                <ul>
                                    <li><i class="fa fa-cc-paypal "></i></li>
                                    <li><i class="fa fa-cc-stripe"></i></li>
                                    <li><i class="fa fa-cc-visa"></i></li>
                                    <li><i class="fa fa-cc-discover"></i></li>
                                    <li><i class="fa fa-cc-mastercard"></i></li>
                                    <li><i class="fa fa-cc-amex"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/js/jQuery_v3.1.1.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.js"></script>
    <script src="~/Content/js/jquery.firstVisitPopup.js"></script>
    <script src="~/Content/js/custom.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <a id="scrollup">Scroll</a>

</body>
</html>
