﻿﻿@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin page Amazon</title>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" />
    <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />
    <!-- PLUGINS CSS STYLE -->
    <link href="~/Areas/Admin/assets/plugins/toaster/toastr.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/plugins/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/plugins/flag-icons/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/plugins/ladda/ladda.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- SLEEK CSS -->
    <link id="sleek-css" rel="stylesheet" href="~/Areas/Admin/assets/css/sleek.css" />
    <!-- FAVICON -->
    <link href="~/Areas/Admin/assets/img/favicon.png" rel="shortcut icon" />
    <script src="~/Areas/Admin/assets/plugins/nprogress/nprogress.js"></script>
</head>

<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
    <script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>
    <div class="mobile-sticky-body-overlay"></div>
    <div class="wrapper">
        <!--
          ====================================
          ——— LEFT SIDEBAR WITH FOOTER
          =====================================
        -->
        <aside class="left-sidebar bg-sidebar">
            <div id="sidebar" class="sidebar sidebar-with-footer">
                <!-- Aplication Brand -->
                <div class="app-brand">
                    <a href="/index.html">
                        <svg class="brand-icon"
                             xmlns="http://www.w3.org/2000/svg"
                             preserveAspectRatio="xMidYMid"
                             width="30"
                             height="33"
                             viewBox="0 0 30 33">
                            <g fill="none" fill-rule="evenodd">
                                <path class="logo-fill-blue"
                                      fill="#7DBCFF"
                                      d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />
                                <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                            </g>
                        </svg>
                        <span class="brand-name">Amazon Manage</span>
                    </a>
                </div>
                <!-- begin sidebar scrollbar -->
                <div class="sidebar-scrollbar">
                    <!-- sidebar menu -->
                    <ul class="nav sidebar-inner" id="sidebar-menu">
                        <li class="has-sub active expand">
                            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard"
                               aria-expanded="false" aria-controls="dashboard">
                                <i class="mdi mdi-view-dashboard-outline"></i>
                                <span class="nav-text">Dashboard</span> <b class="caret"></b>
                            </a>
                            <ul class="collapse show" id="dashboard"
                                data-parent="#sidebar-menu">
                                <div class="sub-menu">
                                    <li class="active">
                                        @Html.ActionLink("Shop Manager", "Index", new { Area = "Admin", Controller = "Shop" })
                                    </li>
                                    <li class="active">
                                        <a class="sidenav-item-link" href="index.html">
                                            <span class="nav-text">Top Product</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a class="sidenav-item-link" href="index.html">
                                            <span class="nav-text">Top Shop</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a class="sidenav-item-link" href="index.html">
                                            <span class="nav-text">Account Admin</span>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#PRODUCTS"
                               aria-expanded="false" aria-controls="PRODUCTS">
                                <i class="mdi mdi-chart-pie"></i>
                                <span class="nav-text">Product</span> <b class="caret"></b>
                            </a>
                            <ul class="collapse" id="PRODUCTS"
                                data-parent="#sidebar-menu">
                                <div class="sub-menu">
                                    <li>
                                        <a class="sidenav-item-link" href="~/Admin/Products/Index">
                                            <span class="nav-text">List Product</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="sidenav-item-link" href="~/Admin/Products/Create">
                                            <span class="nav-text">Add product </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="sidenav-item-link" href="#">
                                            <span class="nav-text">Update </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="sidenav-item-link" href="#">
                                            <span class="nav-text">Delete</span>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#cate09"
                               aria-expanded="false" aria-controls="charts">
                                <i class="mdi mdi-chart-pie"></i>
                                <span class="nav-text">Category</span> <b class="caret"></b>
                            </a>
                            <ul class="collapse" id="cate09"
                                data-parent="#sidebar-menu">
                                <div class="sub-menu">
                                    <li>
                                        <a class="sidenav-item-link" href="~/Admin/Categories/Index">
                                            <span class="nav-text"> Category </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="sidenav-item-link" href="~/Admin/ChildCategories/Index">
                                            <span class="nav-text">Child Category </span>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#charts"
                               aria-expanded="false" aria-controls="charts">
                                <i class="mdi mdi-chart-pie"></i>
                                <span class="nav-text">Commission</span> <b class="caret"></b>
                            </a>
                            <ul class="collapse" id="charts"
                                data-parent="#sidebar-menu">
                                <div class="sub-menu">
                                    <li>
                                        <a class="sidenav-item-link" href="chartjs.html">
                                            <span class="nav-text"> List Commission </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="sidenav-item-link" href="chartjs.html">
                                            <span class="nav-text">Old Commission </span>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#pages"
                               aria-expanded="false" aria-controls="pages">
                                <i class="mdi mdi-image-filter-none"></i>
                                <span class="nav-text">Order</span> <b class="caret"></b>
                            </a>
                            <ul class="collapse" id="pages"
                                data-parent="#sidebar-menu">
                                <div class="sub-menu">
                                    <li>
                                        <a class="sidenav-item-link" href="user-profile.html">
                                            <span class="nav-text">List Order</span>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#anothers"
                               aria-expanded="false" aria-controls="anothers">
                                <i class="mdi mdi-image-filter-none"></i>
                                <span class="nav-text">Another</span> <b class="caret"></b>
                            </a>
                            <ul class="collapse" id="anothers"
                                data-parent="#sidebar-menu">
                                <div class="sub-menu">
                                    <li class="has-sub">
                                        <a class="sidenav-item-link" href="#">
                                            <span class="nav-text">Payment</span>
                                        </a>
                                    </li>
                                    <li class="has-sub">
                                        <a class="sidenav-item-link" href="#">
                                            <span class="nav-text">Shop</span>
                                        </a>
                                    </li>
                                    <li class="has-sub">
                                        <a class="sidenav-item-link" href="#">
                                            <span class="nav-text">Tag</span>
                                        </a>
                                    </li>
                                    <li class="has-sub">
                                        <a class="sidenav-item-link" href="#">
                                            <span class="nav-text">Promotion</span>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="page-wrapper">
            <!-- Header -->
            <header class="main-header " id="header">
                <nav class="navbar navbar-static-top navbar-expand-lg">
                    <!-- Sidebar toggle button -->
                    <button id="sidebar-toggler" class="sidebar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <!-- search form -->
                    <div class="search-form d-none d-lg-inline-block">
                        <div class="input-group">
                            <button type="button" name="search" id="search-btn" class="btn btn-flat">
                                <i class="mdi mdi-magnify"></i>
                            </button>
                            <input type="text" name="query" id="search-input" class="form-control" placeholder="Search ..."
                                   autofocus autocomplete="off" />
                        </div>
                        <div id="search-results-container">
                            <ul id="search-results"></ul>
                        </div>
                    </div>
                    <div class="navbar-right ">
                        <ul class="nav navbar-nav">
                            <!-- Github Link Button -->
                            <li class="github-link mr-3">
                                <a class="btn btn-outline-secondary btn-sm" href="https://www.google.com/" target="_blank">
                                    <span class="d-none d-md-inline-block mr-2">Search</span>
                                    <i class="mdi mdi-github-circle"></i>
                                </a>
                            </li>
                            <li class="dropdown notifications-menu">
                                <button class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="mdi mdi-bell-outline"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">You have 5 notifications</li>
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-account-plus"></i> New user registered
                                            <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10 AM</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-account-remove"></i> User deleted
                                            <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 07 AM</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-chart-areaspline"></i> Sales report is ready
                                            <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 12 PM</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-account-supervisor"></i> New client
                                            <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10 AM</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-server-network-off"></i> Server overloaded
                                            <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 05 AM</span>
                                        </a>
                                    </li>
                                    <li class="dropdown-footer">
                                        <a class="text-center" href="#"> View All </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- User Account -->
                            <li class="dropdown user-menu">
                                <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <img src="~/Areas/Admin/assets/img/user/user.png" class="user-image" alt="User Image" />
                                    <span class="d-none d-lg-inline-block">CEO SON NGUYEN</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <!-- User image -->
                                    <li class="dropdown-header">
                                        <img src="~/Areas/Admin/assets/img/user/user.png" class="img-circle" alt="User Image" />
                                        <div class="d-inline-block">
                                            Abdus Salam <small class="pt-1">JonnyPTIT@gmail.com</small>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="profile.html">
                                            <i class="mdi mdi-account"></i> My Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="mdi mdi-settings"></i> Account Setting </a>
                                    </li>
                                    <li class="dropdown-footer">
                                        <a href="signin.html"> <i class="mdi mdi-logout"></i> Log Out </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="content-wrapper">
                <div class="content">
                    @RenderBody()
                </div>
            </div>
            </footer>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCn8TFXGg17HAUcNpkwtxxyT9Io9B_NcM" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCn8TFXGg17HAUcNpkwtxxyT9Io9B_NcM" defer></script>
    <script src="~/Areas/Admin/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/toaster/toastr.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/slimscrollbar/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/charts/Chart.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/ladda/spin.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/ladda/ladda.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jquery-mask-input/jquery.mask.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>
    <script src="~/Areas/Admin/assets/plugins/daterangepicker/moment.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jekyll-search.min.js"></script>
    <script src="~/Areas/Admin/assets/js/sleek.js"></script>
    <script src="~/Areas/Admin/assets/js/chart.js"></script>
    <script src="~/Areas/Admin/assets/js/date-range.js"></script>
    <script src="~/Areas/Admin/assets/js/map.js"></script>
    <script src="~/Areas/Admin/assets/js/custom.js"></script>
</body>
</html>
