﻿@model Amazon.AppService.ViewModel.ProductViewModelList
@{
    ViewBag.Title = "ViewProduct";
    // Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<hr  style="margin-bottom:30px"/>
<link href="~/Content/MyStyle.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-4">
        <div>
            <img src="~/Content/LocalImage/@Model.oneProduct.ProductAvatar" style="max-height:300px;text-align:center" />
        </div>
        <div style="margin-top:10px;">
            @if (Model.listPhoto.Count > 0)
            {
                for (int i = 0; i < Model.listPhoto.Count; i++)
                {
                    <img src="~/Content/LocalImage/@Model.listPhoto[i].PhotoPath" style="max-height:100px;text-align:center;padding-left:10px" />
                }
            }
        </div>
    </div>
    
    <div class="col-md-8">
        <span class="TitleOfProduct"> @Model.oneProduct.ProductName</span>
        <br />
        <p>By : @Model.oneProduct.ShopName</p>
        <hr />
        <br />
        <p><span class="titleProperty">Quantity:</span> @Model.oneProduct.Quantity</p>
        <p><span class="titleProperty">Status:</span> @Model.oneProduct.Status</p>
        <p><span class="titleProperty">Min Order:</span> @Model.oneProduct.MinOrder</p>
        <p><span class="titleProperty">Current Order:</span> ...</p>

        <p class="descriptionProduct">@Html.Raw(Model.oneProduct.Description)</p>
    </div>
</div>


<table class="table table-bordered ">
    @if (Model.listProperty.Count > 0)
    {
        for (int i = 0; i < Model.listProperty.Count; i++)
        {
            <tr>
                <td> @Model.listProperty[i].ProductPropertyName:</td>
                <td> @Model.listProperty[i].ProductPropertyValue</td>
            </tr>
        }
    }
</table>


