﻿.TitleOfProduct{
    font-size:30pt;
    color:black;
    line-height:40px;
}
.titleProperty{
    color:black;
    margin-top:3px;

}
.descriptionProduct{
    padding-left:40px;
    margin-left:50px;
}
