﻿@model IEnumerable<Amazon.Models.DataModel.Shop>
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Shop Manager Page</h2>
<p>
    @Html.ActionLink("Add More Shop", "SaveShop")
</p>
<table class="table" id="tablelist">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ward.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.ShopName, "ShopDetail", new { id = item.ShopID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ward.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "ShopDelete", new { id = item.ShopID }, new { onclick = "return confirm('Are you sure you wish to delete this article?');" })
            </td>
        </tr>
    }
</table>
@section Scripts {
    @Styles.Render("~/Scripts/datatables.min.css")
    @Styles.Render("~/Scripts/datatables.min.js");
    <script>
        $(document).ready(function () {
            $('#tablelist').DataTable({
                "scrollY": "200px",
                "scrollCollapse": true,
                "paging": false
            });
        });
    </script>
}


