﻿@model PagedList.IPagedList<Amazon.Models.DataModel.Shop>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
}

<h2>Shop Manager Paged</h2>

<p>
    @Html.ActionLink("Add More Shop", "SaveShop")
</p>



<table class="table">
    <tr>
        <th>
            Shop Name
        </th>
        <th>
            Status
        </th>
        <th>
            Ward Name
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.ShopName, "ShopDetail", new { id = item.ShopID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ward.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "ShopDelete", new { id = item.ShopID })
            </td>
        </tr>
    }

</table>

<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("PagedShop",
    new { page }))