﻿@model IEnumerable<Amazon.Models.DataModel.Product>
<div style="background-color:lightgray;height:1px"></div>
<div class="row" style="margin-right:0px">
    <div class="col-md-3">
        <ul class="nav  main-navigation collapse in">
            <li><a href="#">Top Sale</a></li>
            <li><a href="#">Top Trending</a></li>
            <li><a href="#">Mobile Phone</a></li>
            <li><a href="#">Laptop</a></li>
            <li><a href="#">Electronics</a></li>
            <li><a href="#">Top Brands</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Clothes</a></li>
        </ul>
    </div>
    <div class="col-md-9" style="background-color:papayawhip;height:320px;margin-left:0px">
        SLIDER
    </div>
</div>
<div>
    <div class="row" style="margin-left:80px;margin-top:20px">
        <h3 style="margin-left:20px;color:black">Baby Product</h3>
        @foreach (var item in Model)
        {
            <div class="col-md-3" style="border:1px solid gray; height:300px;margin:20px">
                <a href="~/Product/ViewProduct/@item.ProductID">
                    <div style="height:180px;margin-left:30px">
                        <img src="~/Content/LocalImage/@item.ProductAvatar" style="max-height:180px;text-align:center;padding-top:20px;min-height:100px" />
                    </div>
                    <br />
                    <span>@item.ProductName</span>
                    <br />
                    <span style="color:cornflowerblue;text-align:center;padding-bottom:4px"> Price: @item.Price $</span>
                    <br />
                </a>
            </div>
        }
    </div>
</div>
<div>
    <div class="row" style="margin-left:80px;margin-top:20px">
        <h3 style="margin-left:20px;color:black">Bayby Product</h3>
        @foreach (var item in Model)
        {
            <div class="col-md-3" style="border:1px solid gray; height:300px;margin:20px">
                <a href="~/Product/ViewProduct/@item.ProductID">
                    <div style="height:180px;margin-left:30px">
                        <img src="~/Content/LocalImage/@item.ProductAvatar" style="max-height:180px;text-align:center;padding-top:20px;min-height:100px" />
                    </div>
                    <br />
                    <span>@item.ProductName</span>
                    <br />
                    <span style="color:cornflowerblue;text-align:center;padding-bottom:4px"> Price: @item.Price $</span>
                    <br />
                </a>
            </div>
        }
    </div>
</div>




