﻿@model IEnumerable<Amazon.Models.DataModel.Product>

@{
    ViewBag.Title = "Search";
}

<h2>Search Result</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductAvatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductAvatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>*@
<div>
    <div class="row" style="margin-left:80px;margin-top:20px">
        <h3 style="margin-left:20px;color:black"></h3>
        @foreach (var item in Model)
        {
            <div class="col-md-3" style="border:1px solid gray; height:300px;margin:20px">
                <a href="#">
                    <div style="height:180px;margin-left:30px">
                        <img src="~/Content/LocalImage/@item.ProductAvatar" style="max-height:180px;text-align:center;padding-top:20px;min-height:100px" />
                    </div>
                    <br />
                    <span>@item.ProductName</span>
                    <br />
                    <span style="color:cornflowerblue;text-align:center;padding-bottom:4px"> Price: @item.Price $</span>
                    <br />
                </a>
            </div>
        }
    </div>
</div>